{% macro pipeline_setup(stage) -%}
{% set stage_model = stage["Model"] %}
{% set stage_ctx = gated_delta_net_recurrent_core_pipeline_context(stage_model, "recurrent_core_hybrid_tma_smem_pipeline") %}
{% set shared_shape = [stage_ctx["num_stages"]] + (stage_ctx["z"]["shared_stage_shape"] | list) %}
{{ stage["StageName"] }}__weight_stages = tle.gpu.alloc(
    [{{ shared_shape | join(", ") }}],
    dtype={{ stage_model["InputTritonDType"] }},
    layout=None,
    scope=tle.gpu.smem,
    alias=pyntt_shared_arena,
    alias_offset_bytes={{ stage["SharedWorkspaceOffsets"]["weight_stage"] }},
    nv_mma_shared_layout=True,
)
{{ stage["PipeName"] }} = tle.pipe(
    capacity={{ stage_ctx["num_stages"] }},
    scope="cta",
    name="{{ stage["StageName"] }}_weight",
    weight={{ stage["StageName"] }}__weight_stages,
)
{%- endmacro %}
{% if model is defined %}
{% import "triton/kernels/_common.py.jinja" as common with context %}
{% set ctx = gated_delta_net_recurrent_core_pipeline_context(model, "recurrent_core_hybrid_tma_smem_pipeline") %}
{% set microkernel = ctx["microkernel"] %}
{% set z_transfer = ctx["z"] %}
{% set state_k_tile = 32 %}
{% set value_tile = 32 %}
{% set repeats = model["NumValueHeads"] // model["NumKeyHeads"] %}
{% set per_head_qkv = (2 * model["KeyHeadDim"]) + model["ValueHeadDim"] %}
{% set local_qkv_dim = model["LocalNumValueHeads"] * per_head_qkv %}
{% macro state_axis_offset(coordinate, axis) -%}
{% if axis["LaneCount"] == 1 -%}
({{ coordinate }}) * {{ axis["BlockStride"] }}
{%- else -%}
(({{ coordinate }}) // {{ axis["LaneCount"] }}) * {{ axis["BlockStride"] }} + (({{ coordinate }}) % {{ axis["LaneCount"] }}) * {{ axis["LaneStride"] }}
{%- endif %}
{%- endmacro %}
{% macro produce_matrix(transfer, sequence_base) %}
    for n_tile in tl.range(0, {{ transfer["n_tiles"] }}):
        for k_tile in tl.range(0, {{ transfer["k_tiles"] }}):
            sequence = (
                {{ sequence_base }}
                + n_tile * {{ transfer["k_tiles"] }}
                + k_tile
            ).to(tl.int32)
            slot = writer.acquire(sequence)
            descriptor = tle.gpu.reinterpret_tensor_map(
                {{ transfer["lower"] }}_descriptor_entry,
                slot.weight,
            )
            tle.gpu.copy(
                descriptor,
                slot.weight,
                [{{ transfer["shared_stage_shape"] | join(", ") }}],
                offsets=[
{% for offset in transfer["descriptor_offsets"] %}
                    {{ tma_offset(offset) }},
{% endfor %}
                ],
                eviction_policy="evict_first",
            )
            writer.commit(sequence)
{% endmacro %}
# generated from PyNTT algorithm triton.gated_delta_net/recurrent_core_hybrid_tma_smem_pipeline
# {{ model["Comment"] }}; hidden={{ model["HiddenSize"] }}, key_heads={{ model["NumKeyHeads"] }}, value_heads={{ model["NumValueHeads"] }}, key_dim={{ model["KeyHeadDim"] }}, value_dim={{ model["ValueHeadDim"] }}, local_value_heads={{ model["LocalNumValueHeads"] }}, block_n={{ ctx["block_n"] }}, block_k={{ ctx["block_k"] }}, stages={{ ctx["num_stages"] }}
{{ model["FunctionName"] }}__mma_layout = tl.constexpr(
    tle.gpu.MmaEncoding(
        [2, 0],
        [1, {{ model["NumWarps"] }}],
        [16, 8],
    )
)
{{ model["FunctionName"] }}__lhs_dot_layout = tl.constexpr(
    tle.gpu.DotOperandEncoding(
        0,
        {{ model["FunctionName"] }}__mma_layout,
        2,
    )
)
{{ model["FunctionName"] }}__rhs_dot_layout = tl.constexpr(
    tle.gpu.DotOperandEncoding(
        1,
        {{ model["FunctionName"] }}__mma_layout,
        2,
    )
)


{{ "@triton.jit(noinline=True)" if model["NoInline"] else "@triton.jit" }}
def {{ model["FunctionName"] }}__producer(writer, {{ helper_parameters(model) }}):
{{ common.mesh_coordinates(model["MeshAxes"]) }}
    z_descriptor_entry = tle.gpu.tensor_map_table_entry(
        {{ z_transfer["descriptor_name"] }},
        shard_index,
    )
    tle.gpu.tensor_map_fenceproxy_acquire(
        z_descriptor_entry
    )
{{ produce_matrix(z_transfer, 0) }}
    writer.close({{ ctx["sequence_count"] }})


{{ "@triton.jit(noinline=True)" if model["NoInline"] else "@triton.jit" }}
def {{ model["FunctionName"] }}__consumer(reader, {{ helper_parameters(model) }}):
{{ common.mesh_coordinates(model["MeshAxes"]) }}
    input0 = {{ ptr(model, "Input") }}
    recurrent_state = {{ ptr(model, "RecurrentState") }}
    qkv = {{ ptr(model, "QKV") }}
    b_weight = {{ ptr(model, "BWeight") }}
    a_weight = {{ ptr(model, "AWeight") }}
    a_log = {{ ptr(model, "ALog") }}
    dt_bias = {{ ptr(model, "DtBias") }}
    norm_weight = {{ ptr(model, "NormWeight") }}
    gated_output = {{ ptr(model, "GatedOutput") }}
    activation_stage = tle.gpu.alloc(
        [{{ ctx["activation_elements"] }}],
        dtype={{ model["InputTritonDType"] }},
        layout=None,
        scope=tle.gpu.smem,
        alias=pyntt_shared_arena,
        alias_offset_bytes={{ microkernel["shared_workspace_offsets"]["activation_stage"] }},
    )
{% for name, dtype, size in (
    ("qkv", model["InputTritonDType"], model["QKVStageSize"]),
    ("query", "tl.float32", model["KeyStageSize"]),
    ("key", "tl.float32", model["KeyStageSize"]),
    ("read", "tl.float32", model["ValueStageSize"]),
    ("z", model["InputTritonDType"], model["ValueStageSize"]),
) %}
    {{ name }}_stage = tle.gpu.alloc(
        [{{ size }}],
        dtype={{ dtype }},
        layout=None,
        scope=tle.gpu.smem,
        alias=pyntt_shared_arena,
        alias_offset_bytes={{ microkernel["shared_workspace_offsets"][name ~ "_stage"] }},
    )
{% endfor %}
    state_stage = tle.gpu.alloc(
        [{{ model["KeyHeadDim"] }}, {{ value_tile }}],
        dtype=tl.float32,
        layout=None,
        scope=tle.gpu.smem,
        alias=pyntt_shared_arena,
        alias_offset_bytes={{ microkernel["shared_workspace_offsets"]["state_stage"] }},
    )

    for hidden_start in tl.range(0, {{ ctx["activation_elements"] }}, {{ ctx["block_k"] }}):
        hidden = hidden_start + tl.arange(0, {{ ctx["block_k"] }})
        hidden_mask = hidden < {{ ctx["hidden_size"] }}
        activation = tl.load(
            {{ access_pointer(model, "Input", "input0", tensor_access(["0", "hidden"], model["InputStrides"])) }},
            mask=hidden_mask,
            other=0.0,
        )
        tl.store(
            tle.gpu.local_ptr(
                activation_stage,
                (hidden,),
                shape=({{ ctx["block_k"] }},),
            ),
            activation,
        )

    for local_qkv_start in tl.range(0, {{ local_qkv_dim }}, 32):
        local_qkv = local_qkv_start + tl.arange(0, 32)
        local_qkv_mask = local_qkv < {{ local_qkv_dim }}
        local_head = local_qkv // {{ per_head_qkv }}
        component = local_qkv % {{ per_head_qkv }}
{% set global_head = pointer_local_to_global_coordinate(model["BWeight"], 1, "local_head") %}
        global_key_head = ({{ global_head }}) // {{ repeats }}
        global_qkv_channel = tl.where(
            component < {{ model["KeyHeadDim"] }},
            global_key_head * {{ model["KeyHeadDim"] }} + component,
            tl.where(
                component < {{ model["KeyHeadDim"] * 2 }},
                {{ model["NumKeyHeads"] * model["KeyHeadDim"] }} + global_key_head * {{ model["KeyHeadDim"] }} + component - {{ model["KeyHeadDim"] }},
                {{ model["NumKeyHeads"] * model["KeyHeadDim"] * 2 }} + ({{ global_head }}) * {{ model["ValueHeadDim"] }} + component - {{ model["KeyHeadDim"] * 2 }},
            ),
        )
        convolved = tl.load(
            {{ access_pointer(model, "QKV", "qkv", contiguous_vector_axis_access(["0", "0"], model["QKVStrides"], packed_axis=1, logical_index="global_qkv_channel", lane_count=model["QKVLaneCount"], global_coordinate_axes=[1])) }},
            mask=local_qkv_mask,
            other=0.0,
        )
        tl.store(
            tle.gpu.local_ptr(qkv_stage, (local_qkv,), shape=(32,)),
            convolved.to({{ model["InputTritonDType"] }}),
            mask=local_qkv_mask,
        )
    tl.debug_barrier()

    key_lane = tl.arange(0, {{ model["KeyBlockSize"] }})
    key_lane_mask = key_lane < {{ model["KeyHeadDim"] }}
    for local_head in tl.static_range(0, {{ model["LocalNumValueHeads"] }}):
        qkv_base = local_head * {{ per_head_qkv }}
        query_source = tl.load(
            tle.gpu.local_ptr(qkv_stage, (qkv_base + key_lane,), shape=({{ model["KeyBlockSize"] }},)),
            mask=key_lane_mask,
            other=0.0,
        ).to(tl.float32)
        key_source = tl.load(
            tle.gpu.local_ptr(qkv_stage, (qkv_base + {{ model["KeyHeadDim"] }} + key_lane,), shape=({{ model["KeyBlockSize"] }},)),
            mask=key_lane_mask,
            other=0.0,
        ).to(tl.float32)
        query_inv_norm = tl.rsqrt(tl.sum(query_source * query_source, axis=0) + 1.0e-6)
        key_inv_norm = tl.rsqrt(tl.sum(key_source * key_source, axis=0) + 1.0e-6)
        head_key_index = local_head * {{ model["KeyHeadDim"] }} + key_lane
        tl.store(
            tle.gpu.local_ptr(query_stage, (head_key_index,), shape=({{ model["KeyBlockSize"] }},)),
            query_source * query_inv_norm,
            mask=key_lane_mask,
        )
        tl.store(
            tle.gpu.local_ptr(key_stage, (head_key_index,), shape=({{ model["KeyBlockSize"] }},)),
            key_source * key_inv_norm,
            mask=key_lane_mask,
        )
    tl.debug_barrier()

    for local_head in tl.static_range(0, {{ model["LocalNumValueHeads"] }}):
{% set global_head = pointer_local_to_global_coordinate(model["BWeight"], 1, "local_head") %}
        recurrent_state_head_base = (
            {{ state_axis_offset(model["LayerId"], model["RecurrentStateLayerAxis"]) }}
            + {{ state_axis_offset(global_head, model["RecurrentStateHeadAxis"]) }}
        )
        a_projection = 0.0
        b_projection = 0.0
        for hidden_start in tl.range(0, {{ ctx["activation_elements"] }}, {{ ctx["block_k"] }}):
            hidden_lane = hidden_start + tl.arange(0, {{ ctx["block_k"] }})
            hidden_mask = hidden_lane < {{ ctx["hidden_size"] }}
            hidden_value = tl.load(
                tle.gpu.local_ptr(activation_stage, (hidden_lane,), shape=({{ ctx["block_k"] }},)),
                mask=hidden_mask,
                other=0.0,
            ).to(tl.float32)
            a_projection += tl.sum(hidden_value * tl.load(
                {{ access_pointer(model, "AWeight", "a_weight", tensor_access(["hidden_lane", "local_head"], model["AWeightStrides"])) }},
                mask=hidden_mask,
                other=0.0,
            ).to(tl.float32), axis=0)
            b_projection += tl.sum(hidden_value * tl.load(
                {{ access_pointer(model, "BWeight", "b_weight", tensor_access(["hidden_lane", "local_head"], model["BWeightStrides"])) }},
                mask=hidden_mask,
                other=0.0,
            ).to(tl.float32), axis=0)
        a_bias = tl.load({{ access_pointer(model, "ALog", "a_log", tensor_access(["local_head"], model["ALogStrides"])) }}).to(tl.float32)
        dt_value = tl.load({{ access_pointer(model, "DtBias", "dt_bias", tensor_access(["local_head"], model["DtBiasStrides"])) }}).to(tl.float32)
        softplus_arg = a_projection + dt_value
        softplus_value = tl.maximum(softplus_arg, 0.0) + tl.log(1.0 + tl.exp(-tl.abs(softplus_arg)))
        decay = tl.exp(-tl.exp(a_bias) * softplus_value)
        beta = tl.sigmoid(b_projection)
        key_query_dot = 0.0
        for key_start in tl.range(0, {{ model["KeyHeadDim"] }}, {{ state_k_tile }}):
            key_index = key_start + tl.arange(0, {{ state_k_tile }})
            key_mask = key_index < {{ model["KeyHeadDim"] }}
            key_value = tl.load(
                tle.gpu.local_ptr(key_stage, (local_head * {{ model["KeyHeadDim"] }} + key_index,), shape=({{ state_k_tile }},)),
                mask=key_mask,
                other=0.0,
            ).to(tl.float32)
            query_value = tl.load(
                tle.gpu.local_ptr(query_stage, (local_head * {{ model["KeyHeadDim"] }} + key_index,), shape=({{ state_k_tile }},)),
                mask=key_mask,
                other=0.0,
            ).to(tl.float32) * {{ pyrepr(1.0 / (model["KeyHeadDim"] ** 0.5)) }}
            key_query_dot += tl.sum(key_value * query_value, axis=0)

        head_square_sum = 0.0
        for value_start in tl.range(0, {{ model["ValueHeadDim"] }}, {{ value_tile }}):
            value_lane = value_start + tl.arange(0, {{ value_tile }})
            value_mask = value_lane < {{ model["ValueHeadDim"] }}
            recalled = tl.zeros(({{ value_tile }},), tl.float32)
            prior_read = tl.zeros(({{ value_tile }},), tl.float32)
            for key_start in tl.range(0, {{ model["KeyHeadDim"] }}, {{ state_k_tile }}):
                key_lane_local = key_start + tl.arange(0, {{ state_k_tile }})
                key_mask = key_lane_local < {{ model["KeyHeadDim"] }}
                key_value = tl.load(
                    tle.gpu.local_ptr(key_stage, (local_head * {{ model["KeyHeadDim"] }} + key_lane_local,), shape=({{ state_k_tile }},)),
                    mask=key_mask,
                    other=0.0,
                ).to(tl.float32)
                query_value = tl.load(
                    tle.gpu.local_ptr(query_stage, (local_head * {{ model["KeyHeadDim"] }} + key_lane_local,), shape=({{ state_k_tile }},)),
                    mask=key_mask,
                    other=0.0,
                ).to(tl.float32) * {{ pyrepr(1.0 / (model["KeyHeadDim"] ** 0.5)) }}
                state_value = tl.load(
                    recurrent_state
                    + recurrent_state_head_base
                    + {{ state_axis_offset("key_lane_local[:, None]", model["RecurrentStateKeyAxis"]) }}
                    + {{ state_axis_offset("value_lane[None, :]", model["RecurrentStateValueAxis"]) }},
                    mask=key_mask[:, None] & value_mask[None, :],
                    other=0.0,
                ).to(tl.float32) * decay
                tl.store(
                    tle.gpu.local_ptr(
                        state_stage,
                        (key_lane_local[:, None], value_lane[None, :] - value_start),
                        shape=({{ state_k_tile }}, {{ value_tile }}),
                    ),
                    state_value,
                    mask=key_mask[:, None] & value_mask[None, :],
                )
                recalled += tl.sum(state_value * key_value[:, None], axis=0)
                prior_read += tl.sum(state_value * query_value[:, None], axis=0)
            tl.debug_barrier()
            value_input = tl.load(
                tle.gpu.local_ptr(qkv_stage, (local_head * {{ per_head_qkv }} + {{ model["KeyHeadDim"] * 2 }} + value_lane,), shape=({{ value_tile }},)),
                mask=value_mask,
                other=0.0,
            ).to(tl.float32)
            delta = (value_input - recalled) * beta
            for key_start in tl.range(0, {{ model["KeyHeadDim"] }}, {{ state_k_tile }}):
                key_lane_local = key_start + tl.arange(0, {{ state_k_tile }})
                key_mask = key_lane_local < {{ model["KeyHeadDim"] }}
                update_key = tl.load(
                    tle.gpu.local_ptr(key_stage, (local_head * {{ model["KeyHeadDim"] }} + key_lane_local,), shape=({{ state_k_tile }},)),
                    mask=key_mask,
                    other=0.0,
                ).to(tl.float32)
                state_value = tl.load(
                    tle.gpu.local_ptr(
                        state_stage,
                        (key_lane_local[:, None], value_lane[None, :] - value_start),
                        shape=({{ state_k_tile }}, {{ value_tile }}),
                    ),
                    mask=key_mask[:, None] & value_mask[None, :],
                    other=0.0,
                )
                updated = state_value + update_key[:, None] * delta[None, :]
                tl.store(
                    recurrent_state
                    + recurrent_state_head_base
                    + {{ state_axis_offset("key_lane_local[:, None]", model["RecurrentStateKeyAxis"]) }}
                    + {{ state_axis_offset("value_lane[None, :]", model["RecurrentStateValueAxis"]) }},
                    updated,
                    mask=key_mask[:, None] & value_mask[None, :],
                )
            core = prior_read + delta * key_query_dot
            local_value_index = local_head * {{ model["ValueHeadDim"] }} + value_lane
            tl.store(
                tle.gpu.local_ptr(read_stage, (local_value_index,), shape=({{ value_tile }},)),
                core,
                mask=value_mask,
            )
            head_square_sum += tl.sum(tl.where(value_mask, core * core, 0.0), axis=0)
            tl.debug_barrier()
        inv_rms = tl.rsqrt(head_square_sum / {{ model["ValueHeadDim"] }} + {{ pyrepr(model["Epsilon"]) }})
        tl.store(tle.gpu.local_ptr(query_stage, (local_head,), shape=(1,)), inv_rms)
    tl.debug_barrier()

    shared_k = tl.broadcast_to(
        tl.arange(0, {{ ctx["block_k"] }})[:, None],
        ({{ ctx["block_k"] }}, {{ ctx["block_n"] }}),
    )
    shared_n = tl.broadcast_to(
        tl.arange(0, {{ ctx["block_n"] }})[None, :],
        ({{ ctx["block_k"] }}, {{ ctx["block_n"] }}),
    )
    mma_k = tl.arange(0, {{ ctx["block_k"] }})
    for n_tile in tl.range(0, {{ z_transfer["n_tiles"] }}):
        z_start = n_tile * {{ ctx["block_n"] }}
        z_index = z_start + tl.arange(0, {{ ctx["block_n"] }})
        z_mask = z_index < {{ ctx["local_value_dim"] }}
        z_acc = tle.encoding(
            tl.zeros(({{ ctx["block_m"] }}, {{ ctx["block_n"] }}), tl.float32),
            {{ model["FunctionName"] }}__mma_layout,
        )
        for k_tile in tl.range(0, {{ z_transfer["k_tiles"] }}):
            sequence = (n_tile * {{ z_transfer["k_tiles"] }} + k_tile).to(tl.int32)
            ready = reader.wait(sequence)
            weight_ptr = tle.gpu.local_ptr(
                ready.slot.weight,
                (
{% for index in z_transfer["shared_k_indices"] %}
                    {{ index }},
{% endfor %}
{% for index in z_transfer["shared_n_indices"] %}
                    {{ index }},
{% endfor %}
                ),
                shape=({{ ctx["block_k"] }}, {{ ctx["block_n"] }}),
            )
            rhs = tle.encoding(tl.load(weight_ptr), {{ model["FunctionName"] }}__rhs_dot_layout)
            activation = tl.load(
                tle.gpu.local_ptr(
                    activation_stage,
                    (k_tile * {{ ctx["block_k"] }} + mma_k,),
                    shape=({{ ctx["block_k"] }},),
                )
            )
            lhs = tle.encoding(
                tl.broadcast_to(activation[None, :], ({{ ctx["block_m"] }}, {{ ctx["block_k"] }})),
                {{ model["FunctionName"] }}__lhs_dot_layout,
            )
            z_acc = tl.dot(lhs, rhs, acc=z_acc)
            reader.release(sequence)
        tl.store(
            tle.gpu.local_ptr(z_stage, (z_index,), shape=({{ ctx["block_n"] }},)),
            (tl.sum(z_acc, axis=0) * (1.0 / {{ ctx["block_m"] }})).to({{ model["InputTritonDType"] }}),
            mask=z_mask,
        )
    tl.debug_barrier()

    for local_head in tl.static_range(0, {{ model["LocalNumValueHeads"] }}):
        inv_rms = tl.load(tle.gpu.local_ptr(query_stage, (local_head,), shape=(1,)))
        for value_start in tl.range(0, {{ model["ValueHeadDim"] }}, {{ value_tile }}):
            value_lane = value_start + tl.arange(0, {{ value_tile }})
            value_mask = value_lane < {{ model["ValueHeadDim"] }}
            local_value_index = local_head * {{ model["ValueHeadDim"] }} + value_lane
            core = tl.load(
                tle.gpu.local_ptr(read_stage, (local_value_index,), shape=({{ value_tile }},)),
                mask=value_mask,
                other=0.0,
            )
            z_projection = tl.load(
                tle.gpu.local_ptr(z_stage, (local_value_index,), shape=({{ value_tile }},)),
                mask=value_mask,
                other=0.0,
            ).to(tl.float32)
            scale = tl.load(
                {{ access_pointer(model, "NormWeight", "norm_weight", tensor_access(["value_lane"], model["NormWeightStrides"])) }},
                mask=value_mask,
                other=0.0,
            ).to(tl.float32)
            gated = core * inv_rms * scale * z_projection * tl.sigmoid(z_projection)
            tl.store(
                {{ access_pointer(model, "GatedOutput", "gated_output", tensor_access(["0", "local_value_index"], model["GatedOutputStrides"])) }},
                gated.to({{ model["OutputTritonDType"] }}),
                mask=value_mask,
            )
{% endif %}
