{% macro shard_coordinates(pointers) -%}
{% set hierarchy = pointer_shard_hierarchy(pointers) -%}
{% if hierarchy is not none %}
    tmp_shard_coord = shard_index
{% for axis in reverse_indices(hierarchy) %}
    shard_coord{{ axis }} = tmp_shard_coord % {{ hierarchy[axis] }}
    tmp_shard_coord = tmp_shard_coord // {{ hierarchy[axis] }}
{% endfor %}
{% endif %}
{%- endmacro %}

{% macro structured_axis(axis, indent="") -%}
{{ indent }}{{ axis["name"] }}_physical = {% if axis["physical_base"] != "0" %}({{ axis["physical_base"] }} + {% endif %}tl.arange(0, {{ axis["physical_block_extent"] }}){% if axis["physical_base"] != "0" %}){% endif %}[{% for position in range(axis["rank"]) %}{{ ":" if position == axis["physical_position"] else "None" }}{{ ", " if not loop.last else "" }}{% endfor %}]
{% for lane_extent in axis["lane_shape"] %}
{% set lane_axis = loop.index0 %}
{{ indent }}{{ axis["name"] }}_lane{{ lane_axis }} = tl.arange(0, {{ lane_extent }})[{% for position in range(axis["rank"]) %}{{ ":" if position == axis["physical_position"] + lane_axis + 1 else "None" }}{{ ", " if not loop.last else "" }}{% endfor %}]
{% endfor %}
{{ indent }}{{ axis["name"] }}_logical = {{ axis["logical_expression"] }}
{%- endmacro %}
