import triton
import triton.language as tl
import triton.experimental.tle.language as tle
from triton.language.extra import libdevice


PYNTT_KERNEL_CONFIGS = {{ pyrepr(kernel_configs) }}
PYNTT_HOST_TENSOR_DESCRIPTOR_SPECS = {{ pyrepr(host_tensor_descriptor_specs) }}

_PYNTT_GRID_MESH_VALUE = tle.device_mesh({"block": {{ pyrepr(grid_mesh_axes) }}})
PYNTT_GRID_MESH = tl.constexpr(_PYNTT_GRID_MESH_VALUE)
{% for group in grid_barrier_axis_groups %}
PYNTT_GRID_AXIS_GROUP_{{ group.key }} = tl.constexpr(
    _PYNTT_GRID_MESH_VALUE.axis_group({{ pyrepr(group.axis_names) }})
)
{% endfor %}


{{ kernels | join("\n\n") }}
