{% import "triton/kernels/_common.py.jinja" as common with context %}
{% if noinline and do_not_specialize %}
@triton.jit(noinline=True, do_not_specialize={{ do_not_specialize }})
{% elif noinline %}
@triton.jit(noinline=True)
{% elif do_not_specialize %}
@triton.jit(do_not_specialize={{ do_not_specialize }})
{% else %}
@triton.jit
{% endif %}
def {{ name }}({{ parameters }}):
{{ common.mesh_coordinates(mesh_axes) }}
{% if shared_allocation_bytes > 0 %}
    pyntt_shared_arena = tle.gpu.alloc([{{ shared_allocation_bytes }}], dtype=tl.uint8, layout=None, scope=tle.gpu.smem, nv_mma_shared_layout=False, alignment={{ shared_allocation_alignment_bytes }})
{% endif %}
{% if body_source.strip() %}
{{ body_source | indent(4, true) }}
{% elif shared_allocation_bytes == 0 %}
    pass
{% endif %}
